<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard Page</title>
</head>
<body>
    <h1>This is DashBoard Page</h1>
    <h2><%= user.charAt(0).toUpperCase() + user.slice(1) %></h2>
    <a href="/users/logout">Log out</a>
</body>
</html>